
.jumbotron img{
    width: 33em;
    height: 40em;
}

.left{
    margin-top: 10em;
    width: 50%;
}

.left h2{
    font-size: 4rem;
}

.right{
    display: flex;
}

.name{
    margin-top: 2em;
}

/* .jumbotron p{
    color:tomato;
    font-weight: bold;
} */

.jumbotron{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background: url("../Foto/background-3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 8em;
}

.wave{
    display: flex;
    position: absolute;
    height: 143px;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../Foto/wave.png");
    background-repeat:repeat;
    width: 100%;
    background-position: -400px 0;
    
}

.wave2{
    display: flex;
    position: absolute;
    height: 143px;
    top: 0;
    right: 0;
    left: 0;
    background: url("../Foto/wave-2.png");
    background-repeat:repeat;
    width: 100%;
    background-position: -400px 0;
}


.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

section{
    min-height: 700px;
}

.about .row{
    display: flex;
    align-items: center;
}

.col-sm-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.project{
    background: url("../Foto/background-4.jpg"); 
    position: relative;
    padding-top: 12em;
    padding-bottom: 9em;
    background-attachment: fixed;
}

.contact_me{
    padding-top: 2em;
    color:tomato;
}

.contact_me .row .col-sm-offset-5 button{
    background-color: tomato
}

.nav .nav-item .nav-link{
    font-size: 2rem;
    font-weight:500;
    color: darkblue
}

footer p{
    font-size: 2rem;
}

footer .container{
    margin-top: -7em;
    padding-bottom: 4em;
}

.nav #cv{
    background-color:darkblue;
    color:#00f2ff;
}

.jumbotron h1{
    color:darkred;
    padding-top: 2em;
} 

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */

.about .about_left{
    margin: auto;
    white-space: nowrap;
    overflow: hidden; 
}

.about .about_right{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      
}

.about .about_left {
  animation: animated-text 7s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 9em;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/* 
.jumbotron h2{
  white-space: nowrap;
  overflow: hidden;    
  color:darkred;
  padding-top:20px;
}

.jumbotron h2 {
  animation: animated-text-2 4s steps(150,end) 1s 1 normal both;
}

@keyframes animated-text-2{
  from{width: 0;}
  to{width: 20em;}
} */
